{% extends 'inventory/base.html' %}

{% block content %}
<div class="boots">
  <h1>BOOTS 신발 재고 조회</h1>
  <nav>
    (SSAKA(나이키)/KIKA(아디다스)/FIFA(아디다스) 도매 사이트 재고량 파악)
  </nav>
  <div class="first_contents">
    <h3>기존 재고 엑셀 다운로드    <a href="https://eclogin.cafe24.com/Shop"><button type="button" name="button">조회</button></a></h3>
    <nav>
      ("대분류>신발/진열상태>진열함"으로 설정 후 엑셀 다운로드  > 엑셀명 ninetofive.xlsx로 변경)
    </nav>
  </div>
  <div class="second_contents">
    <h3>현재 재고 엑셀 다운로드    <a href="http://127.0.0.1:8000/crawling/"><button type="button" name="button">조회</button></a></h3>
    <nav>
      (현재 재고 수량으로 integration.xlsx을 생성)
    </nav>
  </div>
</div>
{% endblock %}
